.custom-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    width: 100%;
    height: fit-content;
}

.custom-form-label {
    text-align: center;
}

.wrapper {
}
